@import url('../../tailwind.config.css');
@import url('./config.less');
body {
  margin: 0;

  text-size-adjust: none;
  overscroll-behavior: none;
  @apply bg-backgroundColor text-textColor;
}

.App {
  @apply absolute h-full w-full;
}

@theme {
  --animate-fadeIn: FadeIn 0.6s ease-out;

  @keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --font-notoSansTC: 'NotoSansTC', sans-serif;
}
