@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('../../tailwind.config.css');

body {
  margin: 0;

  text-size-adjust: none;
  overscroll-behavior: none;
  @apply bg-backgroundColor text-textColor;
}

.App {
  @apply absolute h-full w-full;
}

@theme {
  --animate-fadeIn: FadeIn 0.6s ease-out;

  @keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --font-notoSansTC:
    'Noto Sans TC', 'Noto Sans CJK TC', 'Microsoft JhengHei', PingFang, STHeiti, sans-serif, serif;
}
